.heading {
  color: red;
  display: inline;
  padding: 10px;
  margin: 10px;
  float: left;
}

.new_link {
  float: right;
  height: 50%
}

.field_with_errors .form-control{
  border: 1px solid red;
}

.alert-form {
  color: red;
}

.status {
  float:right;
  border: 2px solid black;
  padding: 10px;
}
